a{
    font-family:'Arial Narrow';
    color: rgba(85, 54, 28, 0.979);
    text-align: center;
}

a:hover{
    font-family:'Arial Narrow';
    transition: .2s;
    color:rgb(22, 65, 28) ; 
}


.fon_glav{
    color:rgba(4, 1, 41, 0.979) ;
}


h1{
    font-family:'Arial Narrow';
    text-align: center;
    color: rgb(24, 18, 59);
}


h2{
    font-family:'Arial Narrow';
    padding-left: 2%;
}

h3{
    font-family:'Arial Narrow';
   color: rgba(85, 54, 28, 0.979);
}

.pod_sekt2{
    font-family:'Arial Narrow';
    padding-right: 1%;

}


.ds1{
    color:rgb(37, 28, 88);
}
.ds2{
    color:rgb(37, 28, 88);
}
.ds3{
    color:rgb(37, 28, 88);
}
.ds4{
    color:rgb(37, 28, 88);
}
.ds5{
    color:rgb(37, 28, 88);
}
.ds1:hover{
    font-family:'Arial Narrow';
    transition: .2s;
    color:rgb(143, 94, 94);
    font-size:20px;

}
.ds2:hover{
    font-family:'Arial Narrow';
    transition: .2s;
    color:rgb(143, 94, 94); 
}
.ds3:hover{
    font-family:'Arial Narrow';
    transition: .2s;
    color:rgb(143, 94, 94) ; 
}
.ds4:hover{
    font-family:'Arial Narrow';
    transition: .2s;
    color:rgb(143, 94, 94) ; 

}

.ds5:hover{
    font-family:'Arial Narrow';
    transition: .2s;
    color: rgb(143, 94, 94); 
}




.sekt2{
    font-family:'Arial Narrow';
    border: solid black 3px;
    padding-right: 3%;
    padding-top:10px;
    padding-bottom: 1%;
    text-align: end;
    margin-top: 10px;
    top: 40%;
    width: 44%;
    position: absolute;
    margin-left: 50%;
    padding-bottom: 17px;
    padding-top: 17px;
    border-radius: 20px;
}




.ofs{
    
    font-family:'Arial Narrow';
    border: 1px;
    padding-left: 2%;
    padding-right: 10%;
    margin-bottom: 1%;
    height: 70px;
    margin-bottom: 0px;
    margin-top: 40px;

}
.pod_sekt2{
    padding-top: 10px;
}

.text1{
    display: grid;
    grid-template-columns: 50% 50%;
}




.sekt1{
    font-family:'Arial Narrow';
    margin-top: 1%;
    max-width: 50%;
    border: solid black 3px;
    width: 43%;
    margin-left: 3%;
    border-radius: 20px;
}


.text2{
    font-family:'Arial Narrow';
    border:3px solid black;
    max-width: 40%;
    padding: 1%;
    margin-left: 4%;
    border-radius: 20px;
}

.modal-content{
    font-weight:bolder;
    font-family:'Arial Narrow';
    position: relative;
    margin:0;
    width: 80%;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0,3);
    animation-name:animatetop;
    animation-duration: 0.5s;
}
@keyframes animatetop {
    from {
        top:-50%;
        opacity:0
    }

    to {
        top:0;
        opacity:1
    }
}

.zagi1{
    text-align: center;
}
.s_m:hover{
    font-family:'Arial Narrow';
    transition: 0.1s;
    color:rgb(100, 85, 52)  ; 

}

.modal-content1{
    font-weight:bold;
    color:  rgba(4, 2, 17, 0.836);
    font-family:'Arial Narrow';
    position: absolute;
    margin:5% auto;
    margin-left:7%;
    z-index: 1;
    background-color:rgba(170, 173, 165, 0.596);
    width: 100%;
    border:1px solid black;
    padding: 1%;

}


.close{
    color:black;
    float:right;
    font-size:25px;
    font-weight: bold;
    border: solid black 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25%;

}

.close:hover{
    color:red;
    cursor: pointer;
    border: solid red 2px;
}
.modal{
    font-weight:bolder;
    font-family:'Arial Narrow';
    display: none;
    z-index: 0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
}
