a{
   
    color: rgba(8, 11, 58, 0.979);
    font-size: 20px;
}
* {
    font-family:  'Arial Narrow';
    scrollbar-color: #838181;
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
    border: 0;
}
.wrapper {
    background: linear-gradient(45deg, rgba(148, 174, 196, 0.938), rgba(179, 199, 219, 0.904));
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 30%;
    }

    50% {
        background-position: 100% 10%;
    }
    
    100% {
        background-position: 0 30%;
    }
}

a:hover{
    
    transition: .2s;
    color:rgb(65, 64, 22) ; 
}

.main{
    box-shadow: 5px 5px 5px  rgba(102, 108, 161, 0.438);
}

.foter{
    background-color:rgba(127, 137, 233, 0.356);
    box-shadow: 0px 33px 0px rgba(127, 138, 233, 0.24);
}

.menu__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.foter__menu{
    background-color: rgba(127, 136, 214, 0.493);
    z-index: 3;
    font-weight: bolder;
    margin: 0 auto;
    padding: 0 auto;
}

h1{
    text-align: center;
    color: rgb(24, 18, 59);
}

h2{

    padding-left: 2%;
}

h3{

   color: rgba(85, 54, 28, 0.979);
}

.pod_sekt2{
   
    padding-right: 1%;

}

.but1{
  
    color:rgba(53, 45, 104, 0.842);
    position: absolute;
    border: 0;
    background-color: transparent;
    font-size:40px;
    font-weight:bolder;
    padding: 0px;
    transition: .2s;
}

.but1:hover{
    transition: .2s;
    font-size:45px;
    color:rgb(143, 94, 94);
}

.ds1{
    transition: .2s;
    color:rgba(48, 40, 97, 0.897);
    margin-bottom: 1px;
    cursor: pointer;
}

.ds1:hover{
   
    transition: .2s;
    color:rgb(143, 94, 94);
    font-size:35px;

}

.sekt2{
    border: solid black 3px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 1%;
    max-width: 90%;
    border-radius: 20px;
    margin-left: 6%;
    transition: .2s;
    box-shadow: 3px 5px 9px rgba(48, 71, 92, 0.658);
    animation-name:animatewight;
    animation-duration: 3s;
}



.pod_sekt2{
    padding-top: 10px;
}

.text1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    transition: .2s;
    background-color: transparent;
}

.content1{
    margin-top: 50px;
    gap: 20px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    max-width: 1200px;
    transition: .2s;
    z-index: 2;
    max-width: 90%;
}

.cont2{
    max-width: 90%;
    margin-top: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    transition: .2s;
    padding-bottom: 5px;
}

.but2{
    font-size: 40px;
}

.but3{
    font-size: 45px;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, rgb(117, 145, 170),rgb(189, 217, 240));
    box-shadow: 0 0 1px rgba(0, 0, 0, .1) inset;
}

::-webkit-scrollbar-thumb {
    background: #939393;
    border-radius: 8px;
    border: 2px solid #a1a0a0;
    margin:2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #686868;
    transition: .2s;
}



@media (max-width: 750px) {
    .content1{ 
        grid-template-columns:1fr ;
        font-size: 30px;
    } 
    .zag_text{
        font-size: 30px;
    }
    .text{
        font-size: 20px;
    }
   
    .modal{
        grid-template-columns: 1fr;
    
    }

    .cont2{
        grid-template-columns:1fr ;
        font-size: 30px;
    }

    .foto1{
        grid-template-columns:1fr 1fr;
    }
    .ds1{
      font-size: 25px;
    }
    .ds1:hover{
        font-size: 30px;
      }
  
    .foto2{
        grid-template-columns:repeat(2,1fr);
    }

    .but1{
        font-size: 30px;
    }
    .but1:hover{
        font-size:35px;
    }

    .but2{
        font-size: 30px;
    }

    .but3{
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    .content1{
  
        font-size: 20px;
    }
    .zag_text{
        font-size: 20px;
    }
   
    .cont2{
        font-size: 20px;
    }

    .ime2{
        width: 75px;
        height: 45px;
        margin-left: 0px;
    }

    .ime3{
        width: 50px;
        height: 50px;
        margin-left: 0px;
    }

    .but1{
        font-size: 20px;
    }
    .but1:hover{
        font-size:25px;
    }

    .but2{
        font-size: 20px;
    }

    .but3{
        font-size: 30px;
    }
}

@media (max-width: 350px){
    .img{
        display: none;
    }
}
.icon_fon{
    background:url(./ime/vid.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.foto1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    margin-left: 1%;
    margin-top: 30px;
    column-gap: 10px;
    transition: .2s;
}

.foto2{
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    max-width: 100%;
    margin-left: 1%;
    margin-top: 10px;
    column-gap: 20px;
    animation-name:animatetop;
    animation-duration: 2s;
    transition: 2s;
   
}

.foto2_open{
    display: grid;
    transition: 2s;
}

.sekt1{
    
    font-weight:bolder;
    border: solid black 3px;
    max-width: 80%;
    padding: 1%;
    margin-left: 6%;
    border-radius: 20px;
    padding-right: 4%;
    transition: .2s;
    box-shadow: 3px 5px 9px rgba(48, 71, 92, 0.692);
    animation-name:animatewight;
    animation-duration: 3s;
}

.map{
    color: rgb(17, 19, 105);
   
    margin-top: 1%;
    border: solid black 3px;
    max-width: 80%;
    padding: 1%;
    border-radius: 20px;
    padding-right: 4%;
    transition: .2s;
    animation-name:animatewight;
    animation-duration: 3s;
}

.text2{
    margin-top: 10px;
    padding: 13px;
  
    border:3px solid black;
    border-radius: 20px;
    max-width: 80%;
    margin-right: 2%;
    margin-left: 6%;
    box-shadow: 1px 2px 3px ,black;
    transition: .2s;
    box-shadow: 3px 5px 9px rgba(48, 71, 92, 0.644);
    animation-name:animatewight;
    animation-duration: 3s;

}

.modal-content{
    animation-name:animatetop;
    animation-duration: 1.3s;
    font-weight:bolder;
    position: relative;
    margin:0;
    width: 100%;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0,3);
    transition: .4s;
    margin-top: 20px;
   

}

@keyframes animatetop {
    from {
        top:-50%;
        opacity:0
    }

    to {
        top:0;
        opacity:1
    }
}

@keyframes animatewight {
    from {
        left: -50;
        opacity:0
    }

    to {
        left: 0;
        opacity:1
    }
}

@keyframes animatebottom {
    from {
        bottom:50%;
        opacity:1;
    }

    to {
        bottom:10%;
        opacity:0;
        transition: 2s;
    }
}

.ime{
    animation-name:animatewight;
    animation-duration: 1.5s;
    transition: .2s;
    box-shadow: 3px 5px 9px rgb(144, 190, 233);
    border-radius: 5px;
}

.zagi1{
    transition: .2s;
}
.s_m:hover{
    transition: 0.1s;
    color:rgb(100, 85, 52)  ; 

}

.modal-content1{
    font-weight:bold;
    color:  rgba(4, 2, 17, 0.836);
    position: absolute;
    z-index: 2;
    background-color:rgba(153, 158, 145, 0.945);
    border:1px solid black;
    transition: .1s;
    right: 10px;
}


.close{
    color:black;
    float:right;
    font-size:25px;
    font-weight: bold;
    border: solid black 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25%;
    transition: .1s;

}

.fon1{
    background: url(./ime/shihan.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.fon2{
    background: url(./ime/ligo18.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.fon3{
    background: url(./ime/logo42.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.fon4{
    background: url(./ime/Ozero.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.fon5{
    background: url(./ime/logo12.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.fon6{
    background: url(./ime/Ufa.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.fon7{
    background: url(./ime/ufa2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 200%;
}

.grid_img{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    width: 100%;
}
.img2{
    padding: 10px;
    
}
.close:hover{
    color:red;
    cursor: pointer;
    border: solid red 2px;
    transition: .1s;
}
.modal{
    padding-left: 10px;
    grid-template-columns:1fr 1fr;
    column-gap: 10px;
    font-weight:bolder;
    display: none;
    z-index: 1;
    position:absolute;
    background-color: rgba(92, 92, 92, 0.733);
    top:0;
    left:0;
    width: 99%;
    height: 100vh;
    transition: .1s;
    box-shadow: 10px 10px 10px 10px rgb(166, 192, 216);
}